/* GLOBAL */
.home-body {
  background: var(--bg);
  color: var(--text);
  transition: background 0.3s ease, color 0.3s ease;
}

.hero {
  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
  padding: 0 40px;
  overflow: hidden; /* important */
  box-shadow: var(--shadow);
}

/* BLURRED BACKGROUND */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("https://images.unsplash.com/photo-1441984904996-e0b6ba687e04?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    center/cover no-repeat;
  filter: blur(12px);
  transform: scale(1.1); /* prevents edge clipping */
  z-index: 1;
}



/* CONTENT STAYS SHARP */

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
}

.hero-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}

.hero-content p{
  padding: 10px;
  font-weight: 600;
  background-color: rgb(231, 224, 224);
  color: var(--accent);
}

.hero-buttons{
  display: flex;
  gap: 20px;
}
/* COLLECTIONS */
.story-content h2{
  color: wheat;
}
.collections {
  padding: 60px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: var(--shadow);
}
.collections h2, .best-sellers h2{
  color: var(--accent-violet);
}
.collection-grid{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.collection-card {
  height: 300px;
  width: 300px;
  padding: 40px 20px;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transition: 0.5s;
}

.collection-card p{
  padding: 6px;
  background: var(--card);
  color: var(--accent-violet);
  border-radius: 10px;
}
.collection-card:hover{
  border: 1px solid rgba(255,255,255,0.3);
  cursor: pointer;
  transform: scale(1.05);
}

.collection-grid #street{
  background: url("https://images.unsplash.com/photo-1642011079531-95ad34d154e4?q=80&w=627&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    center/cover no-repeat;
}
.collection-grid #winter{
  background: url("https://images.unsplash.com/photo-1513589669142-c71a6de1ed20?q=80&w=688&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    center/cover no-repeat;
}

.collection-grid #classic{
  background: url("https://images.unsplash.com/photo-1669207261271-a0041d4b0948?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    center/cover no-repeat;
}

.collection-grid #active{
  background: url("https://plus.unsplash.com/premium_photo-1661602018215-3fbfcb86d580?q=80&w=1205&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    center/cover no-repeat;
}

/* BRAND STORY */
.brand-story {
  padding: 60px 40px;
  background: var(--accent-two);
  color: var(--brand-text);
  text-align: center;
  box-shadow: var(--shadow);
  transition: 1s;
}
.brand-story:hover{
  background: var(--accent-two-light);
}
.brand-story .story-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

/* BEST SELLERS */
.best-sellers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  gap: 20px;
}
.product-grid{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.product-card {
  height: 300px;
  width: 500px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: var(--card);
  padding: 30px;
  border-radius: 10px;
}

.product-card:hover{
  border: 1px solid rgba(255,255,255,0.3);
  cursor: pointer;
}

.product-card p{
  padding: 6px;
  background: white;
  color: var(--accent);
}

/* VALUES */
.value-card {
  background: var(--card);
  padding: 30px;
  border-radius: 10px;
  font-weight: 600;
}