@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

:root {
  --bg-light: #ffffff;
  --bg-dark: #1a1a1a;
  --text-light: #1a1a1a;
  --text-dark: #f5f5f5;
  --accent: #6c63ff;
  --accent-light: #7a74e9;
  --accent-green: rgb(82, 181, 82);
  --accent-violet: rgb(204, 129, 204);
  --accent-two-light: rgb(112, 85, 192);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 600;
}

html,body {
    height: 100%;
    width: 100%;
}

.light {
  --bg: #ffffff;
  --text: #111;
  --card: #f7f7f7;
  --card-hover: #eaeaea;
  --shadow: 0 4px 12px rgba(20, 19, 19, 0.633);
  --shadow-hover: 1px solid rgba(0, 0, 0, 0.3);
  --accent-two: rgb(103, 75, 186);
}

.dark {
  --bg: #0f0f0f;
  --text: #f5f5f5;
  --card: #1a1a1a;
  --card-hover: #222;
  --shadow: 0 4px 12px rgba(255, 255, 255, 0.06);
  --shadow-hover: 1px solid rgba(255,255,255,0.3);
  --accent-two: rgb(63, 37, 141);
}

body, .light, .dark {
  background: var(--bg);
  color: var(--text);
  transition: 0.3s ease;
}

.button{
    height: 30px;
    width: max-content;
    padding: 4px 8px;
    background-color: var(--accent);
    border-radius: 10px;
    border: none;
    transition: 0.5s;
}

.button:hover{
    background-color: var(--accent-light);
    transform: scale(1.1);
    cursor: pointer;
}
.search-box-container{
  height: 60px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.search-box{
  height: 50px;
  width: 400px;
  min-width: 350px;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid var(--text);
  color: var(--text);
  background: transparent;
  font-size: 15px;
}